resources:
  - kind: Gateway
    metadata:
      name: gateway
    spec:
      listeners:
        - port: 8443
          protocol: HTTPS
          tls:
            mode: Terminate
            pqc:
              keyExchange: X25519:X25519MLKEM768
            certificates:
              - tls.crt: pqc.flomesh.io.crt
                tls.key: pqc.flomesh.io.key

  - kind: HTTPRoute
    spec:
      parentRefs:
        - kind: Gateway
          name: gateway
          port: 8443
      rules:
        - filters:
            - type: RequestHeaderModifier
              requestHeaderModifier:
                set:
                  - name: Host
                    value: pqc.flomesh.io
          backendRefs:
            - kind: Backend
              name: pqc-site-scan

  - kind: Backend
    metadata:
      name: pqc-site-scan
    spec:
      targets:
        - address: localhost
          port: 5000

secrets:
  pqc.flomesh.io.crt: |
    -----BEGIN CERTIFICATE-----
    MIIDizCCAnOgAwIBAgIUTc5abB7xKSDzAFsRdsO/KEstQrswDQYJYIZIAWUDBAMP
    BQAwbjELMAkGA1UEBhMCQ04xETAPBgNVBAgMCExpYW9uaW5nMQ8wDQYDVQQHDAZE
    YWxpYW4xEDAOBgNVBAoMB0Zsb21lc2gxEDAOBgNVBAsMB09TUy1QUUMxFzAVBgNV
    BAMMDnBxYy5mbG9tZXNoLmlvMB4XDTI1MTIwMTA2MjkwM1oXDTI2MTIwMTA2Mjkw
    M1owbjELMAkGA1UEBhMCQ04xETAPBgNVBAgMCExpYW9uaW5nMQ8wDQYDVQQHDAZE
    YWxpYW4xEDAOBgNVBAoMB0Zsb21lc2gxEDAOBgNVBAsMB09TUy1QUUMxFzAVBgNV
    BAMMDnBxYy5mbG9tZXNoLmlvMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKC
    AQEA31Mgki+uDIvoQIGBEsEREsz65evMmdtOLupZM1ZHoQDZQzQ5nyEYkAC+wD5w
    bZya2NSSv5b9eRkAPyqoCsUfPzvTOlhbwLoEAdAewf95TMo5CaJoyEROf2MmxNRz
    I+0jKvOazjWziGSD3Ty3fdQ7J466tJoq+EDsXTnQRsBreaekWE3oVKw1xJiC/0L3
    dtztwljYy721hn9KwkaZPJVwy2d3rKtAX7tUuEM7vPWX6xjvQ4u5tBtvqkztL2lv
    0enI4b8uuuspxl/t29jim99vAiVU6fwEJ6in/OcabZxgySCpI0gVVoFVoR8wOUes
    azhMH/FKW+y9oZI+oniX9bQeTwIDAQABoyEwHzAdBgNVHQ4EFgQU3gq36nvKgEx7
    PIsRVtyQ9l1BdfwwDQYJYIZIAWUDBAMPBQADggEBAIqWKs/GAhHiLgO2sRmq+A3O
    /s6bbd1joIzrHM4RvJMeiH4lOl5A7YvgsBROhsJ7sf7j6JshhODeg4doE6CRMyrE
    YScwnpj/ZX5oJzejX3SdfSRtfKW9eodSRpAfsimE4RfD4pXlwFc+oKsVrVk4t2gU
    FLuJXNoPqh0iDiVqrgK1yYQbKAdfX7jLEOfNU9GUJ6wwJhTLxhADLbeak/D6Veoj
    8EssPXn0PrHXg5tJM8DRdUGN1TRy01HxphDcjC9U8f+ZUNO0W5uvaSA+Lu+x6rAp
    +WpA2FyKVeY7zKnAq0FHYAlqDeJrFVPf+iwlgFxW6jR6foLYL+c8fDJ72aGLi4g=
    -----END CERTIFICATE-----
  pqc.flomesh.io.key: |
    -----BEGIN PRIVATE KEY-----
    MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDfUyCSL64Mi+hA
    gYESwRESzPrl68yZ204u6lkzVkehANlDNDmfIRiQAL7APnBtnJrY1JK/lv15GQA/
    KqgKxR8/O9M6WFvAugQB0B7B/3lMyjkJomjIRE5/YybE1HMj7SMq85rONbOIZIPd
    PLd91Dsnjrq0mir4QOxdOdBGwGt5p6RYTehUrDXEmIL/Qvd23O3CWNjLvbWGf0rC
    Rpk8lXDLZ3esq0Bfu1S4Qzu89ZfrGO9Di7m0G2+qTO0vaW/R6cjhvy666ynGX+3b
    2OKb328CJVTp/AQnqKf85xptnGDJIKkjSBVWgVWhHzA5R6xrOEwf8Upb7L2hkj6i
    eJf1tB5PAgMBAAECggEABGH8bCddD5L5VQwVl+QhF9DdBavJ1qUmqiYK58aEM6/c
    E6+6h8RzAnR5SeA6fZ7gAmxdkD6q1826owK3zIpPfC1fjlq95juK/kFy2794m8iw
    3jRelmY8x3mPK7gNpcFZeit7Y3D2BocOeBuLxao8xPXN9ThnVSWVCJlXXI7EgofT
    KRyT6dfRamcqK51z+VLPtabwPc041zhG/c6bpxZ7osRs9iCV0FJIR5W5lxB0PfC7
    eRR0CNjIVCcYlHzrbWlhUdAazr+WNYO8TP6QRsIW8EAn7uLNx8/BsGeP6y6viv2u
    J+3zTK7/zjqCAV6rR1veLB2dn/d2B8UcgtXfvQr3BQKBgQD3PkLKM83VLB8RY1YI
    G7BwWGkKBdMEQo2WtpiSTzvINUdMTgITDRElB0ve/g/ZFm5mlerLnf8ZTvaqDaYt
    arW4XMJK3a7QUovMgwQDUDzRW5+wKe3EEJerikQREdYInwxLEKjtPikb/roczkTp
    7o8qxjYDEXR4hHNbjhQ3QjQxLQKBgQDnO/+zdUhIM8bbLYheTLg+SrlkI4opkGs1
    gUsUF1qkdM6mVVzsQUvBHgG19UKSAEtgV+xHB/tk7s7msZpoDjQ3sTCmY8Z+Dkuo
    cztCFqaOuJUy0vNYv4wXyKwPz9QADbR3fraIEpRN9SIvRmK7+rlYjfSnaU3XdmVC
    KmA3Yi8i6wKBgQDHyMK1m4i+scllBoz1PlKjZX1zQOOTtKeu2luNFoNrM0oqqXpZ
    pJxu/GddiJSLyelp8chpwoDpFXqSTTczyd+PWz0Qu/NPmPQoTNIIT2Tlk5EFC8x6
    OyIj1jVMScpW6xZG7e5iznDvkzUWo8Lh+Qgs+z+X2RnxbK2+lJ9XS6La/QKBgGBg
    JnPylvzY77HcaXD8QvJbjKeLFIO8WKLFT7iA/1t5/8Nd4svpbxx/WDExltxpWQE/
    xA/a6NGpovyN25AxE1x+8or3HPzfEnOUC4fBDwx/LFgxihFcTJSBJA23DmIzVBtV
    6dgO/lb7q5LOoEo+9s9M40J/Zl0+UHfiV5Xdy02fAoGADjCFlHP/4SF6QxPHD+Xf
    VFdT4cuI668w+CvBseqSaUUC+bGQSWM3mCinqb5Zi/ql3yr8AtL0mzcArwvSGn+M
    XJKiI+GuNhKjZBZcAiRZBXraVjI/owt0/kPrDKphlxwWgq2JcGG9knzvH5Oakp9R
    gpsbp/HzhK/uFH1OQaBs0Fw=
    -----END PRIVATE KEY-----
